In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [14]:
filename = 'factbook.csv'
info_df = pd.read_csv(filename, delimiter=';')
cov_df = pd.read_csv('finished_datasets/country.csv')

In [15]:
info_df.head()

,Country,Area(sq km),Birth rate(births/1000 population),Current account balance,Death rate(deaths/1000 population),Debt - external,Electricity - consumption(kWh),Electricity - production(kWh),Exports,GDP,...,Oil - production(bbl/day),Oil - proved reserves(bbl),Population,Public debt(% of GDP),Railways(km),Reserves of foreign exchange & gold,Telephones - main lines in use,Telephones - mobile cellular,Total fertility rate(children born/woman),Unemployment rate(%)
0,String,double,double,double,double,double,double,double,double,double,...,double,double,double,double,double,double,double,double,double,double
1,Afghanistan,647500,47.02,NaN,20.75,8000000000,652200000,540000000,446000000,21500000000,...,0,0,29928987,NaN,NaN,NaN,33100,15000,6.75,NaN
2,Akrotiri,123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,28748,15.08,-504000000,5.12,1410000000,6760000000,5680000000,552400000,17460000000,...,2000,185500000,3563112,NaN,447,1206000000,255000,1100000,2.04,14.80
4,Algeria,2381740,17.13,11900000000,4.60,21900000000,23610000000,25760000000,32160000000,212300000000,...,1200000,11870000000,32531853,37.40,3973,43550000000,2199600,1447310,1.92,25.40

## Matching countries

In [16]:
setcov = set(cov_df.country.unique())
setinfo = set(info_df.Country.unique())
setcov - setinfo

{'Czechia', "CÃ´te d'Ivoire", 'The Bahamas'}

Fixing naming inconsistencies

In [17]:
info_df = info_df.replace('Bahamas The', 'The Bahamas')
info_df = info_df.replace('Czech Republic', 'Czechia')
info_df = info_df.replace("Cote d'Ivoire", "CÃ´te d'Ivoire")

In [22]:
country_mask = info_df.Country.isin(cov_df.country.unique())
info_df = info_df[country_mask]

In [25]:
info_df.isna().sum()

Country                                            0
Area(sq km)                                        0
Birth rate(births/1000 population)                 0
Current account balance                            7
Death rate(deaths/1000 population)                 0
Debt - external                                    6
Electricity - consumption(kWh)                     0
Electricity - production(kWh)                      0
Exports                                            0
GDP                                                0
GDP - per capita                                   0
GDP - real growth rate(%)                          0
HIV/AIDS - adult prevalence rate(%)                2
HIV/AIDS - deaths                                 11
HIV/AIDS - people living with HIV/AIDS             5
Highways(km)                                       0
Imports                                            0
Industrial production growth rate(%)              10
Infant mortality rate(deaths/1000 live births)     0
Inflation rate (consumer prices)(%)                0
Internet hosts                                     1
Internet users                                     0
Investment (gross fixed)(% of GDP)                 8
Labor force                                        2
Life expectancy at birth(years)                    0
Military expenditures - dollar figure              4
Military expenditures - percent of GDP(%)          5
Natural gas - consumption(cu m)                   28
Natural gas - exports(cu m)                       28
Natural gas - imports(cu m)                       28
Natural gas - production(cu m)                    29
Natural gas - proved reserves(cu m)               39
Oil - consumption(bbl/day)                         0
Oil - exports(bbl/day)                            61
Oil - imports(bbl/day)                            69
Oil - production(bbl/day)                          0
Oil - proved reserves(bbl)                        39
Population                                         0
Public debt(% of GDP)                             22
Railways(km)                                      18
Reserves of foreign exchange & gold                9
Telephones - main lines in use                     0
Telephones - mobile cellular                       0
Total fertility rate(children born/woman)          0
Unemployment rate(%)                               9
dtype: int64

In [26]:
info_df.to_csv(r'finished_datasets/country_info.csv', index = False)